*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cabecera {
  background-image: url(https://www.uleam.edu.ec/wp-content/themes/Principal/img/cabecera.png);
  background-size: cover;
  height: 250px;
}
.mt-4, .my-4 {
  margin-top: 1.5rem!important;
}
element.style {
  margin-left: 45%;
  top: 20%;
  color: #37474F;
}
.titulo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.position-absolute {
  position: absolute!important;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}
.h2, h2 {
  font-size: 3rem;
}

h1{
  margin-left: 50%;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
div {
  display: block;
}
.subtitulo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.text-uppercase {
  text-transform: uppercase!important;
}
.h5, h5 {
  font-size: 1.25rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-weight: 300;
  line-height: 1.2;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.text-justify {
  text-align: justify!important;
}

footer.page-footer {
  bottom: 0;
  color: #fff;
}
.unique-color-dark {
  background-color: #1c2331!important;
}
.pt-0, .py-0 {
  padding-top: 0!important;
}
footer{display: block;
}
footer.page-footer .footer-copyright {
  overflow: hidden;
  background-color: rgba(0,0,0,.2);
  color: rgba(255,255,255,.6);
}
.text-center {
  text-align: center!important;
}
.pt-2, .py-2 {
  padding-top: 0.5rem!important;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.subtitulo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.text-center {
  text-align: center!important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}