body{
    text-align: center;
    height: 100px;
	background-color: rgb(162, 164, 193);
    width: 100%;
    background-size: auto;
    min-height: 10%;
}
form {
	text-align: center;
}
input[type="text"] {
	padding: 10px;
	margin: 10px;
}
button {
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
button:hover {
	background-color: #3e8e41;
}
table {
	border-collapse: collapse;
	width: 80%;
	margin: 0 auto;
}
th, td {
	text-align: center;
	padding: 10px;
}
th {
	background-color: #4CAF50;
	color: white;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
tr:hover {
	background-color: #ddd;
}
h1 {
	text-align: center;
}

