*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://i.ytimg.com/vi/UpNz-avzHxA/maxresdefault.jpg);
}
legend{
    color: white;
}
.pan{
    border: 1px solid #ececec;
    box-sizing: border-box;
    color: #000000;
    float: left;
    margin: 0%;
    padding: 1em;
    width: 49%;
    height: 610px;
    margin-top: auto;
    background: rgba(46, 138, 145, 0.33);
    box-shadow:  0 1rem 1rem rgba(0,0, 0, 0.3);
}
strong{
    color: white;
}
.nav{
    padding: 0 40px;
    height: 80px;
    background-color: rgb(162, 164, 193);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_links{
    text-align: left;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 80px;
    right: 0;
    background-color: black;
    display: grid;
    place-items: center;
    clip-path: circle(0% at top left);
    transition: clip-path  .4s;
}
.nav_link{
    text-decoration: none;
    color: #ffff;
}
.nav_links:target{
    clip-path: circle(150% at top left);
}