* {
  margin: 0;
  padding: 0;
}
form {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin-top: 8px;
  border: 3px solid rgb(162, 164, 193);
  border-radius: 6px;
  padding: 0 15px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: rgb(177, 180, 210);
  border-radius: 10px;
}
header {
  background : rgb(162, 164, 193) url(https://moodledanu.uleam.edu.ec/pluginfile.php/1/theme_klass/footerlogo/1655214245/logo_ULEAM_2017_horizontal.png) no-repeat left;
  height: 100px;
  width: 100%;
  background-size: contain;
}
label {
  font-weight: bold;
  margin-bottom: 5px;
}
input,
textarea {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
body {
  align-items: center;
  justify-content: center;
  background-color: rgb(162, 164, 193);
}
button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: rgb(250, 240, 240);
  background-color: #008CBA;
}
button:hover {
  background-color: #005F6B;
}
