* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    height: 100px;
    background-image: url(https://i.ytimg.com/vi/UpNz-avzHxA/maxresdefault.jpg);
    width: 100%;
    background-size: auto;
    min-height: 10%;
}
h2 {
    text-align: center;
}
header {
    font-size: 20px;
    padding-left: 300px;
    padding-top: 30px;
    text-size-adjust: auto;
    background: rgb(162, 164, 193) url(https://moodledanu.uleam.edu.ec/pluginfile.php/1/theme_klass/footerlogo/1655214245/logo_ULEAM_2017_horizontal.png) no-repeat left;
    height: 100px;
    width: 100%;
    background-size: contain;
}
.Registro {
    text-align: left;
    min-height: 200px;
    height: auto;
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    background-color: rgb(162, 164, 193);
    box-shadow: 0 1rem 1rem rgb(173, 33, 33);
}
.Registro .correo .email {
    width: 95%;
    height: 35px;
}
.Registro .Contraseña .password {
    width: 95%;
    height: 35px;
}
button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(250, 240, 240);
    background-color: #008CBA;
}