* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    
	background-color: #f1f1f1;
	font-family: Arial, sans-serif;
    background-image: url(https://i.ytimg.com/vi/UpNz-avzHxA/maxresdefault.jpg);
}
.form {
	background-color: #fff;
	max-width: 500px;
	margin: 50px auto;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
h2 {
	text-align: center;
	margin-bottom: 20px;
}
label {
	display: block;
	margin-bottom: 10px;
}
input {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	background-color: #f1f1f1;
}
button[type="submit"] {
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
    margin-top: 1;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #008CBA;
}
button[type="submit"]:hover {
	background-color: #3e8e41;
}
